# Python virtual environment
.venv/

# Secret files (NEVER share these)
.env
credentials.json

# Python cache
__pycache__/
*.pyc

# Database migrations
migrations/

# User-uploaded files
# We ignore all files inside, but keep the folders thanks to .gitkeep
static/ebooks/*
!static/ebooks/.gitkeep

static/temp_uploads/*
!static/temp_uploads/.gitkeep